# Backend API URL
# Change this to your backend URL
VITE_BACKEND_URL=https://54link-dev.upi.dev

# Developer Platform API URL
# Separate base URL for developer platform endpoints
VITE_DEVELOPER_PLATFORM_URL=http://localhost:8020/api/v1
