**/.git
**/.gitignore
**/.vscode
**/.vs
**/.settings
**/.project
**/.classpath
**/.toolstarget

**/node_modules
**/dist
**/build
**/obj
**/.next
**/__pycache__
**/venv
**/*.*proj.user
**/_.dbmdl
**/_.jfm

**/.dockerignore
**/docker-compose*
**/compose*
**/Dockerfile*

**/secrets.dev.yaml
**/values.dev.yaml
**/.env*

**/dapr

**/src/__tests__

LICENSE
README.md
