annotated-types
anyio
certifi
click
dnspython
email_validator
exceptiongroup
fastapi
fastapi-cli
greenlet
h11
httpcore
httptools
httpx
idna
Jinja2
markdown-it-py
MarkupSafe
mdurl
confluent-kafka
psycopg2-binary
pydantic
pydantic_core
Pygments
python-dotenv
python-multipart
pytz
PyYAML
requests
rich
rich-toolkit
shellingham
sniffio
SQLAlchemy
sqlalchemy-serializer
starlette
typer
typing-inspection
typing_extensions
uvicorn
uvloop
watchfiles
websockets
