annotated-types
anyio==4.9.0
certifi==2025.4.26
click==8.1.8
confluent-kafka
dnspython
email_validator
exceptiongroup
fastapi==0.115.12
fastapi-cli
greenlet
h11==0.16.0
httpcore==1.0.9
httptools
httpx==0.28.1
idna==3.10
Jinja2==3.1.6
markdown-it-py
MarkupSafe==3.0.2
mdurl
psycopg2-binary
pydantic==2.11.5
pydantic_core
Pygments
python-dotenv
python-multipart
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
rich==14.2.0
rich-toolkit
shellingham
sniffio
SQLAlchemy==2.0.41
sqlalchemy-serializer
starlette==0.50.3
typer==0.20.0
typing-inspection
typing_extensions
uvicorn==0.34.3
uvloop==0.22.1
watchfiles==1.1.1
websockets==15.0.1
