fastapi>=0.115.0
uvicorn[standard]>=0.34.0
python-multipart>=0.0.20
pydantic>=2.11.0
starlette>=0.46.0
minio>=7.2.20
sqlalchemy>=2.0.29
sqlmodel>=0.0.24
alembic>=1.15.0
psycopg2-binary>=2.9.9
python-dotenv>=1.1.0
requests>=2.32.0
httpx>=0.28.0
dapr>=1.15.0
email-validator>=2.2.0
PyJWT>=2.10.0
argon2-cffi>=25.1.0
pycryptodome>=3.23.0
