APP_HOST=localhost
APP_PORT=8080

LOG_PATH="./logs"
LOG_LEVEL=info
LOG_SILENT=false

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_DATABASE_TYPE="postgres or mysql"

# Microservices URLs
AUTH_SVC_URL=
ACCOUNT_SVC_URL=
ADMIN_SVC_URL=
USER_SVC_URL=
AGENT_SVC_URL=https://agent.54agent.upi.dev
VERIFICATION_SVC_URL=
VERIFICATION_SVC_IDP=
VERIFICATION_SVC_CLIENT_ID=
VERIFICATION_SVC_CLIENT_SECRET=

# Dapr Configuration
DAPR_HOST=
DAPR_HTTP_PORT=
DAPR_PUBSUB_NAME=
DAPR_PUBSUB_TOPIC_PREFIX=

# Temporal Configuration
TEMPORAL_ADDRESS=
TEMPORAL_NAMESPACE=54link-dev
TEMPORAL_TASK_QUEUE=

# Keycloak Configuration
KEYCLOAK_BASE_URL=
KEYCLOAK_ADMIN_USERNAME=
KEYCLOAK_ADMIN_PASSWORD=

# Tenant Service
TENANT_SERVICE_APP_ID=
